<ul>
  <li>
    {{#link-to "h-scroll-window"}}
      horizontal-scroll with default null / `window` scrollableArea
    {{/link-to}}
  </li>
  <li>
    {{#link-to "v-scroll-window"}}
      vertical-scroll with default null / `window` scrollableArea
    {{/link-to}}
  </li>
  <li>
    {{#link-to "h-scroll-in-element"}}
      horizontal-scroll within an element
    {{/link-to}}
  </li>
  <li>
    {{#link-to "v-scroll-in-element"}}
      vertical-scroll within an element
    {{/link-to}}
  </li>
</ul>
{{outlet}}