<h1>
  v-scroll-window
</h1>
<ul>
  <b>
    iOS
  </b>
  <li>
    Chrome: Works! :)
  </li>
  <li>
    Safari: Works! :)
  </li>
  <hr />
  <b>
    MacOS Desktop
  </b>
  <li>
    Safari: Works! :)
  </li>
  <li>
    Safari Technology Preview: Works! :)
  </li>
  <li>
    Chrome: Works! :)
  </li>
</ul>
{{#each
  (array
    1
    2
    3
    4
    5
    6
    7
    8
    9
    10
    11
    12
    13
    14
    15
    16
    17
    18
    19
    20
    21
    22
    23
    24
    25
    26
    27
    28
    29
    30
  ) as |number|
}}
  <div style="font-size:30px;margin:2px;width:200px;height:200px;">
    {{#in-viewport
      number=number
      tolerance=(hash top=500 bottom=500 right=500 left=500) as |viewport|
    }}
      {{#if viewport.viewportEntered}}
        <div class="w-full h-full bg-green">
          {{number}}
          in viewport
        </div>
      {{else}}
        <div class="w-full h-full bg-red">
          {{number}}
          outside viewport
        </div>
      {{/if}}
    {{/in-viewport}}
  </div>
{{/each}}